{
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true,
        "browser": true
    },
    "extends": [
        "typescript",
        "typescript/react",
        "typescript/prettier",
        "typescript/prettier-react"
    ],
    "rules": {
        "excludedFiles": "*.js",
        "@typescript-eslint/explicit-function-return-type": [
            "warn",
            {
                "allowExpressions": true,
                "allowTypedFunctionExpressions": true
            }
        ],
        "@typescript-eslint/no-object-literal-type-assertion": [true, { "allow-arguments": true }]
    },
    "overrides": [
        {
            "files": ["config-overrides.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        },
        {
            "files": ["src/index.tsx"],
            "env": {
                "browser": true
            }
        }
    ]
}
